<div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-9 col-lg-7 d-flex justify-content-end p-0">
            <a href="/admin/taikhoan-nhanvien" class="btn btn-primary mt-4 mb-2"><i class="fa-sharp fa-solid fa-house-person-return"></i> Tài khoản nhân viên</a>
        </div>
    <form action="/admin/taikhoan-nhanvien/them" method="post"
        enctype="application/x-www-form-urlencoded" class="card col-md-9 col-lg-7"
        style="background-color: rgb(103, 193, 185)">
        <h1 class="text-center">Tạo tài khoản nhân viên</h1>
        <div class="mb-3">
            <label for="fullName" class="form-label mx-2">Họ và tên</label>
            <input type="text" maxlength="30" name="fullName" id="fullName" autocomplete="cc-name" class="form-control"
                placeholder="Nhập họ và tên" required>
        </div>
        <div class="mb-3">
            <label for="birth" class="form-label mx-2">Ngày sinh</label>
            <input type="date" name="dateOfBirth" id="birth" autocomplete="bday-day" class="form-control"
                placeholder="01/11/2000">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label mx-2">Số điện thoại</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" autocomplete="tel" class="form-control"
            placeholder="Nhập số điện thoại.." pattern="[0-9]{10}">
        </div>

        <div class="mb-3">
            <label for="address" class="form-label mx-2">Địa chỉ</label>
            <input type="text" maxlength="150" name="address" id="address" autocomplete="address-level4" class="form-control"
            placeholder="Nhập địa chỉ..">
        </div>

        <button type="submit" class="btn btn-success mb-3"><i class="fa-regular fa-floppy-disk me-1"></i>Tạo tài khoản</button>
    </form>

</div>

<script>
    const phoneInput = document.getElementById('phoneNumber');

    phoneInput.addEventListener('input', function (event) {
        const isValid = /^\d{10}$/.test(event.target.value);
        phoneInput.setCustomValidity(isValid ? '' : 'Hãy nhập đúng số điện thoại!');
    });
</script>