<h1 id="brand-name-label">Việt Tuấn Trung</h1>
<form action="/admin/dangnhap" method="post" class="floating-label vstack gap-2 col-md-5 mx-auto">
    <h1 id="sign-label">Đăng nhập vào admin</h1>
    <div class="row align-items-center form-floating mb-3">
        <input type="text" autocomplete="username" name="username" class="form-control" id="floatingInput"
            placeholder="Tên đăng nhập" value="{{preInput.username}}" required>
        <label for="floatingInput">Tên đăng nhập</label>
    </div>
    <div class="row align-items-center form-floating mb-3">
        <input type="password" autocomplete="current-password" name="password" class="form-control psition-relative"
            id="floatingPassword" placeholder="Mật khẩu" value="{{preInput.password}}" required>
        <button class=" position-absolute top-50 end-0 translate-middle-y eye-icon-btn" type="button"
            id="togglePasswordButton">
            <i class="fa-regular fa-eye-slash"></i>
        </button>
        <label for="floatingPassword">Mật khẩu</label>
        <div id="error-message" class="form-text text-secondary text-danger">
            {{error}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary p-3">Đăng nhập</button>
</form>

<script>
    const form = document.querySelector('form');
    const username = document.querySelector('input[name="username"]');
    const password = document.querySelector('input[name="password"]');
    const errorLabel = document.getElementById('error-message');
    const togglePasswordButton = document.getElementById('togglePasswordButton');

    togglePasswordButton.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.querySelector('i').classList.toggle('fa-eye');
        this.querySelector('i').classList.toggle('fa-eye-slash');
    });

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        if (validateForm()) {
            form.submit();
        }
    });

    function validateForm() {
        let isValid = true;

        if (password.value.length < 6) {
            errorLabel.innerHTML = 'mật khẩu phải từ 6 ký tự trở lên!';
            isValid = false;
        }


        return isValid;
    }

</script>