<div class="col-11 mx-auto text-center text-bg-purple mt-5 py-4 px-2 rounded-2"
    style="background-color: rgb(179, 255, 194);">
    <div class="fs-1"><b>Thông tin liên hệ</b></div>
    <div class="fs-4">Qúy khách hàng có thể liên hệ trực tiếp với nhân viên của chúng tôi để được hỗ trợ</div>
    <div class="d-flex flex-wrap justify-content-around py-3">
        <div class="big-label"><i class="fa-light fa-headset fa-2x"></i><br>Tư
            vấn lựa chọn sản phẩm</div>
        <div class="big-label">
            <i class="fa-thin fa-webhook fa-2x"></i><br>Đặt làm mẫu sản phẩm theo yêu cầu
        </div>
        <div class="big-label">
            <i class="fa-light fa-file-signature fa-2x"></i><br>Phản hồi, đóng góp ý kiến
        </div>
        <div class="big-label">
            <i class="fa-sharp fa-light fa-shield-check fa-2x"></i><br>Bảo hành, bảo dưỡng sản phẩm
        </div>
    </div>
    <style>
        .zalo-icon {
            width: 3rem;
            background-color: #0d6efd;
            border-radius: .5rem;
        }

        .zalo-icon:hover {
            background-color: #0b469f;
        }
    </style>
    <div class="d-flex justify-content-around flex-wrap align-items-end">
        <a href="{{shopInfo.linkFacebook}}" class="fs-5 mt-3 mx-2"
            style="text-decoration: none; max-width:fit-content"><i class="fa-brands fa-square-facebook fa-3x"></i>
            Facebook</a>
        <a href="{{shopInfo.linkZalo}}" class="fs-5 mt-3 mx-2 d-flex align-items-end"
            style="text-decoration: none;"><img src="/assets/icons/zalo1.png" class="my-2 zalo-icon" alt="icon zalo">
            <div>&nbsp;Zalo</div>
        </a>
        <a href="{{shopInfo.linkYoutube}}" class="fs-5 mt-3 mx-2"
            style="text-decoration: none; max-width:fit-content"><i class="fa-brands fa-youtube fa-3x"></i> Youtube</a>
        <a href="{{shopInfo.linkGoogleMap}}" class="fs-5 mt-3 mx-2"
            style="text-decoration: none; max-width:fit-content"><i class="fa-solid fa-map-location-dot fa-3x"></i> Cửa
            hàng</a>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3709.686071669448!2d105.8430733!3d21.598173700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313526efc8ea9161%3A0x78c7f5d9e75c364c!2zQ-G7rWEgaMOgbmcgxJHhu5MgZ-G7lyBUdeG6pW4gVHJ1bmc!5e0!3m2!1svi!2s!4v1710846116784!5m2!1svi!2s"
        class="map-frame" width="600" height="450"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="col-11 mx-auto text-center text-bg-purple py-4 px-2 my-5" style="background-color: rgb(179, 255, 194);">
    <div class="fs-1"><b>về chúng tôi</b></div>
    <div class="fs-5">đồ gỗ cổ Việt Tuấn Trung chính thức khai trương từ... với các mẫu sản phẩm đa dạng, chất lượng
        hàng đầu..</div>
    <div class="d-flex flex-wrap justify-content-around py-3">
        <div class="big-label"><i class="fa-light fa-rectangle-history-circle-plus fa-2x"></i><br>Mẫu mã Đa dạng</div>
        <div class="big-label"><i class="fa-light fa-medal fa-2x"></i><br>chất lượng hàng đầu</div>
        <div class="big-label"><i class="fa-sharp fa-light fa-shield-check fa-2x"></i><br>Bảo hành lên đến 5 năm</div>
        <div class="big-label"><i class="fa-light fa-truck-fast fa-2x"></i><br>ship hàng tận giường</div>
    </div>
</div>