<div class="row justify-content-center mt-4">
    <div class="d-flex justify-content-end col-md-9 col-lg-6 px-0">
        <a href="/admin/kho/chude/{{category.slug}}" class=""><button class="btn btn-primary"><i class="fa-sharp fa-solid fa-house-person-return"></i> Trở về</button></a>
    </div>
</div>
<div class="row justify-content-center mt-4">

    <form action="/admin/kho/chude/{{category.slug}}/them-phanloai/luu" method="post" enctype="multipart/form-data" class="card col-md-9 col-lg-6" style="background-color: rgb(103, 193, 136)">
        <h1 class="text-center">Thêm phân loại</h1>
        <div class="mb-3">
            <label for="inputTypeName" class="form-label mx-2">Tên phân loại</label>
            <input type="text" maxlength="40" name="name" id="inputTypeName" autocomplete="cc-name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label mx-2">Mô tả</label>
            <textarea type="text" maxlength="200" name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label mx-2">Chọn file icon</label>
            <input class="form-control" name="icon" type="file" accept="image/*" id="formFile">
        </div>

        <div class="mb-3">
            <label for="selectCategory" class="form-label mx-2">Chủ đề phân loại:</label>
            <input value="{{category.name}}" disabled>
            <input name="categoryId" value="{{category._id}}" hidden>
        </div>
        <button type="submit" class="btn btn-success mb-3"><i class="fa-regular fa-floppy-disk me-1"></i>Lưu phân
            loại</button>
    </from>
</div>