<div class="row">
    <div class="col-lg-6">
        <div class=" mx-lg-1 px-2 text-bg-info py-3 mt-4">
            <form id="search-form" class="d-flex me-md-2 me-lg-4 ms-auto">
                <input id="search-input" class="form-control me-1" name="phoneNumber" type="search"
                    placeholder="Nhập tên hoặc mã sản phẩm.." aria-label="Search">
                <button id="search-btn" class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
            <table class="table text-center m-0 table-max-width mt-2 mb-4"
                style="border-end-end-radius: 1rem; border-top-right-radius: 1rem; overflow: hidden;">
                <tbody id="search-results">
                    
                </tbody>
            </table>
            <div id="message" style="color: red;"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class=" mx-lg-1 px-2 text-bg-warning py-3 mt-4">
            Danh sách sản phẩm nhập
            số lượng
            <div>ngày nhập</div>
            <div>nhân viên nhập</div>
        </div>
    </div>
</div>

<script>
    const searchForm = document.getElementById('search-form');
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');
    const message = document.getElementById('message');

    searchForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const query = searchInput.value.trim();
        if (query !== '') {
            search(query);
        }
    });

    function search(query) {
        fetch(`/admin/kho/nhaphang/tim-san-pham?query=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {
                // Update search results on the page
                searchResults.innerHTML = '';

                if (data.products && data.products.length > 0) {
                    data.products.forEach(product => appendResult(product));
                }
                else if (data.product) {
                    appendResult(data.product);
                }
                message.innerHTML =  data.message? data.message : '';
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    
    function appendResult(product){
            const content = `<tr>
                                <td><img class="thumbnail-sm img-thumbnail" src="${product.imagesUrls[product.mainImageIndex]}" alt="Ảnh"></td>
                                <td>${product.name}</td>
                                <td>${product._id}</td>
                                <td><button type="button" class="btn btn-primary">Thêm</button></td>
                            </tr>`;
            searchResults.insertAdjacentHTML('beforeend', content);
        }
</script>