<div class="top-nav navbar bg-body-tertiary py-0">
    <div class=" container-fluid d-flex mx-4 ">
        <div class="phone navbar-text">
            <i class="fa-solid fa-phone"></i>
            Liên hệ: {{shopInfo.phoneNumber}}
        </div>
        <div class="navbar-text mx-4">
            <i class="fa-regular fa-location-dot"></i>
            Địa chỉ: {{shopInfo.address}}
        </div>
    </div>
    <div class="position-relative col-12">
        <img src="/assets/icons/icon1.jpg" style="border-radius: 50%; border: 2px solid rgb(0, 0, 0);" alt="Logo"
            width="54" height="54" class="d-inline-block align-text-top">
        <div id="brand-name-print" class="fs-2 p-0"
            style="position:absolute; top: 50%; left: 50%; transform:translate(-50%, -50%);">{{shopInfo.fullName}}</div>
    </div>
</div>