    <div class="col-md-5 mx-auto d-flex justify-content-end p-0">
        <a href="/admin/taikhoancuatoi/xem" class="btn btn-success mt-4 mb-2">Hủy</a>
    </div>
<h1 id="brand-name-label" class="text-center">Việt Tuấn Trung</h1>
<form action="/admin/taikhoancuatoi/doimatkhau" method="post" enctype="application/x-www-form-urlencoded"
    class="floating-label vstack gap-2 col-md-5 mx-auto">
    <div>Đổi mật khẩu</div>
    <input class="d-none" value="{{user.username}}">
    <div class="row align-items-center form-floating mb-3">
        <input type="password" name="oldPassword" class="form-control position-relative" id="floatingPassword0"
            placeholder="Mật khẩu cũ" autocomplete="password" required>
        <button class=" position-absolute top-50 end-0 translate-middle-y eye-icon-btn" type="button"
            id="togglePasswordButton0">
            <i class="fa-regular fa-eye-slash"></i>
        </button>
        <label for="floatingPassword0">Mật khẩu cũ</label>
    </div>

    <div class="row align-items-center form-floating mb-3">
        <input type="password" name="password1" class="form-control position-relative" id="floatingPassword1"
            placeholder="Tạo mật khẩu" autocomplete="new-password" required>
        <button class=" position-absolute top-50 end-0 translate-middle-y eye-icon-btn" type="button"
            id="togglePasswordButton1">
            <i class="fa-regular fa-eye-slash"></i>
        </button>
        <label for="floatingPassword1">Mật khẩu mới</label>
    </div>

    <div class="row align-items-center form-floating mb-3">
        <input type="password" name="password2" class="form-control position-relative" id="floatingPassword2"
            placeholder="Xác nhận mật khẩu" autocomplete="new-password" required>
        <button class=" position-absolute top-50 end-0 translate-middle-y eye-icon-btn" type="button"
            id="togglePasswordButton2">
            <i class="fa-regular fa-eye-slash"></i>
        </button>
        <label for="floatingPassword2">Xác nhận mật khẩu</label>
        <div id="error-message" class="form-text text-secondary text-danger">
        </div>
    </div>

    <button type="submit" class="btn btn-success p-3">Đổi mật khẩu</button>
    <input class="d-none" name="_method" value="PATCH">
</form>
<script>
    const form = document.querySelector('form');
    const password0 = document.querySelector('input[name="oldPassword"]');
    const password1 = document.querySelector('input[name="password1"]');
    const password2 = document.querySelector('input[name="password2"]');
    const errorLabel = document.getElementById('error-message');
    const togglePasswordButton0 = document.getElementById('togglePasswordButton0');
    const togglePasswordButton1 = document.getElementById('togglePasswordButton1');
    const togglePasswordButton2 = document.getElementById('togglePasswordButton2');

    togglePasswordButton0.addEventListener('click', togglePassword);
    togglePasswordButton1.addEventListener('click', togglePassword);
    togglePasswordButton2.addEventListener('click', togglePassword);
    function togglePassword() {
        const type = this.previousElementSibling.getAttribute('type') === 'password' ? 'text' : 'password';
        this.previousElementSibling.setAttribute('type', type);
        this.querySelector('i').classList.toggle('fa-eye');
        this.querySelector('i').classList.toggle('fa-eye-slash');
    };

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        if (validateForm()) {

            form.submit();
        }

    });

    function validateForm() {
        let isValid = true;

        if (!password0.value) {
            errorLabel.innerHTML = 'nhập mật khẩu cũ!';
            isValid = false;
        }
        else if (password1.value.length < 6 || password2.value.length < 6) {
            errorLabel.innerHTML = 'mật khẩu phải từ 6 ký tự trở lên!';
            isValid = false;
        }
        else if (password1.value !== password2.value) {
            errorLabel.innerHTML = 'mật khẩu không khớp!';
            isValid = false;
        }
        else if (password1.value === password0.value) {
            errorLabel.innerHTML = 'mật khẩu mới không được trùng mật khẩu cũ!';
            isValid = false;
        }


        return isValid;
    }

</script>