<div class="row justify-content-center">
    <div class="col-md-9 col-lg-7 d-flex justify-content-end p-0">
        <a href="/admin/taikhoancuatoi/sua" class="btn btn-warning mt-4 mb-2 me-1">Sửa thông tin</a>
        <a href="/admin/taikhoancuatoi/doimatkhau" class="btn btn-warning mt-4 mb-2">Đổi mật khẩu</a>
    </div>

    <div class="col-md-9 col-lg-7" style="background-color: rgb(103, 193, 185)">
        <h1 class="text-center mb-5">Tài khoản của tôi</h1>
        <div class="h5 mb-3">Họ và tên: {{account.fullName}}</div>
        <div class="h5 mb-3">Ngày sinh: {{account.dateOfBirth}}</div>
        <div class="h5 mb-3">Số điện thoại: {{account.phoneNumber}}</div>
        <div class="h5 mb-3">Địa chỉ nhận hàng: {{account.address}}</div>

    </div>

</div>